.image {
    width: 300px;
    height: 400px;
  }
  
  .characterList {
    list-style-type: none;
    padding: 0;
  }
  
  .characterList li {
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1.2em;
    color: #666;
  }

  .textContainer {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  }
