.header {
    display: flex;
    align-items: center;
    padding: 20px 30px 10px 10px;
    background-color: red;
    width: 100%;
    box-sizing: border-box;
  }
  
  .logo {
    height: 50px;
  }
  
  .nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
  }
  
  .link {
    color: yellow;
    text-decoration: none;
    white-space: nowrap;
  }
  
  .activeLink {
    color: yellow;
    text-decoration: underline;
    white-space: nowrap;
  }